{% extends 'libros/base.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Listado de libros</h1>
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Título</th>
                <th scope="col">Autor</th>
                <th scope="col">Valoración</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
                <tr>
                    <td>{{ book.titulo }}</td>
                    <td>{{ book.autor }}</td>
                    <td>{{ book.valoracion }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
